In [ ]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

Importing Dataset

In [ ]:
data = pd.read_csv("Autism-Adult-Data.csv")

EDA

In [ ]:
data.head()

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,0,0,1,1,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,2,1,1,0,1,0,0,0,1,0,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,3,1,1,0,1,1,0,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,4,1,1,0,1,0,0,1,1,0,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,5,1,0,0,0,0,0,0,1,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               704 non-null    int64
 1   A1_Score         704 non-null    int64
 2   A2_Score         704 non-null    int64
 3   A3_Score         704 non-null    int64
 4   A4_Score         704 non-null    int64
 5   A5_Score         704 non-null    int64
 6   A6_Score         704 non-null    int64
 7   A7_Score         704 non-null    int64
 8   A8_Score         704 non-null    int64
 9   A9_Score         704 non-null    int64
 10  A10_Score        704 non-null    int64
 11  age              704 non-null    object
 12  gender           704 non-null    object
 13  ethnicity        704 non-null    object
 14  jundice          704 non-null    object
 15  austim           704 non-null    object
 16  contry_of_res    704 non-null    object
 17  used_app_before  704 non-null    object
 18  result           704 non-null    int64
 19  age_desc         704 non-null    object
 20  relation         704 non-null    object
 21  Class/ASD        704 non-null    object
dtypes: int64(12), object(10)
memory usage: 121.1+ KB

In [ ]:
data.isnull().sum()

id                 0
A1_Score           0
A2_Score           0
A3_Score           0
A4_Score           0
A5_Score           0
A6_Score           0
A7_Score           0
A8_Score           0
A9_Score           0
A10_Score          0
age                0
gender             0
ethnicity          0
jundice            0
austim             0
contry_of_res      0
used_app_before    0
result             0
age_desc           0
relation           0
Class/ASD          0
dtype: int64

In [ ]:
df = data.replace('?', np.nan)

In [ ]:
df.isnull().sum()

id                  0
A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 2
gender              0
ethnicity          95
jundice             0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation           95
Class/ASD           0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               704 non-null    int64
 1   A1_Score         704 non-null    int64
 2   A2_Score         704 non-null    int64
 3   A3_Score         704 non-null    int64
 4   A4_Score         704 non-null    int64
 5   A5_Score         704 non-null    int64
 6   A6_Score         704 non-null    int64
 7   A7_Score         704 non-null    int64
 8   A8_Score         704 non-null    int64
 9   A9_Score         704 non-null    int64
 10  A10_Score        704 non-null    int64
 11  age              702 non-null    object
 12  gender           704 non-null    object
 13  ethnicity        609 non-null    object
 14  jundice          704 non-null    object
 15  austim           704 non-null    object
 16  contry_of_res    704 non-null    object
 17  used_app_before  704 non-null    object
 18  result           704 non-null    int64
 19  age_desc         704 non-null    object
 20  relation         609 non-null    object
 21  Class/ASD        704 non-null    object
dtypes: int64(12), object(10)
memory usage: 121.1+ KB

Handling categorical data

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
df = df.dropna()

In [ ]:
df['age'] = le.fit_transform(df['age'])
df['gender'] = le.fit_transform(df['gender'])
df['ethnicity'] = le.fit_transform(df['ethnicity'])
df['jundice'] = le.fit_transform(df['jundice'])
df['austim'] = le.fit_transform(df['austim'])
df['contry_of_res'] = le.fit_transform(df['contry_of_res'])
df['used_app_before'] = le.fit_transform(df['used_app_before'])
df['age_desc'] = le.fit_transform(df['age_desc'])
df['relation'] = le.fit_transform(df['relation'])
df['Class/ASD'] = le.fit_transform(df['Class/ASD'])

In [ ]:
df

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,0,0,1,1,0,...,0,9,0,0,57,0,6,0,4,0
1,2,1,1,0,1,0,0,0,1,0,...,1,3,0,1,11,0,5,0,4,0
2,3,1,1,0,1,1,0,1,1,1,...,1,3,1,1,49,0,8,0,2,1
3,4,1,1,0,1,0,0,1,1,0,...,0,9,0,1,57,0,6,0,4,0
5,6,1,1,1,1,1,0,1,1,1,...,1,5,1,0,57,0,9,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,699,1,1,1,1,1,1,1,1,1,...,0,6,0,0,5,0,10,0,4,1
699,700,0,1,0,1,1,0,1,1,1,...,0,9,0,0,44,0,7,0,4,1
700,701,1,0,0,0,0,0,0,1,0,...,1,2,0,0,33,0,3,0,2,0
702,703,1,0,0,1,1,0,1,0,1,...,1,7,0,0,40,0,6,0,4,0
703,704,1,0,1,1,1,0,1,1,1,...,0,9,0,0,17,0,8,0,4,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 609 entries, 0 to 703
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               609 non-null    int64
 1   A1_Score         609 non-null    int64
 2   A2_Score         609 non-null    int64
 3   A3_Score         609 non-null    int64
 4   A4_Score         609 non-null    int64
 5   A5_Score         609 non-null    int64
 6   A6_Score         609 non-null    int64
 7   A7_Score         609 non-null    int64
 8   A8_Score         609 non-null    int64
 9   A9_Score         609 non-null    int64
 10  A10_Score        609 non-null    int64
 11  age              609 non-null    int64
 12  gender           609 non-null    int64
 13  ethnicity        609 non-null    int64
 14  jundice          609 non-null    int64
 15  austim           609 non-null    int64
 16  contry_of_res    609 non-null    int64
 17  used_app_before  609 non-null    int64
 18  result           609 non-null    int64
 19  age_desc         609 non-null    int64
 20  relation         609 non-null    int64
 21  Class/ASD        609 non-null    int64
dtypes: int64(22)
memory usage: 109.4 KB

In [ ]:
df.to_csv('Autism-Adult-Data1.csv')

In [ ]:
df1 = pd.read_csv('Autism-Adult-Data1.csv')
df1

,Unnamed: 0,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,0,1,1,1,1,1,0,0,1,1,...,0,9,0,0,57,0,6,0,4,0
1,1,2,1,1,0,1,0,0,0,1,...,1,3,0,1,11,0,5,0,4,0
2,2,3,1,1,0,1,1,0,1,1,...,1,3,1,1,49,0,8,0,2,1
3,3,4,1,1,0,1,0,0,1,1,...,0,9,0,1,57,0,6,0,4,0
4,5,6,1,1,1,1,1,0,1,1,...,1,5,1,0,57,0,9,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,698,699,1,1,1,1,1,1,1,1,...,0,6,0,0,5,0,10,0,4,1
605,699,700,0,1,0,1,1,0,1,1,...,0,9,0,0,44,0,7,0,4,1
606,700,701,1,0,0,0,0,0,0,1,...,1,2,0,0,33,0,3,0,2,0
607,702,703,1,0,0,1,1,0,1,0,...,1,7,0,0,40,0,6,0,4,0
608,703,704,1,0,1,1,1,0,1,1,...,0,9,0,0,17,0,8,0,4,1

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609 entries, 0 to 608
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       609 non-null    int64
 1   id               609 non-null    int64
 2   A1_Score         609 non-null    int64
 3   A2_Score         609 non-null    int64
 4   A3_Score         609 non-null    int64
 5   A4_Score         609 non-null    int64
 6   A5_Score         609 non-null    int64
 7   A6_Score         609 non-null    int64
 8   A7_Score         609 non-null    int64
 9   A8_Score         609 non-null    int64
 10  A9_Score         609 non-null    int64
 11  A10_Score        609 non-null    int64
 12  age              609 non-null    int64
 13  gender           609 non-null    int64
 14  ethnicity        609 non-null    int64
 15  jundice          609 non-null    int64
 16  austim           609 non-null    int64
 17  contry_of_res    609 non-null    int64
 18  used_app_before  609 non-null    int64
 19  result           609 non-null    int64
 20  age_desc         609 non-null    int64
 21  relation         609 non-null    int64
 22  Class/ASD        609 non-null    int64
dtypes: int64(23)
memory usage: 109.6 KB